.contacto-info {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: stretch;
    gap: 2rem;
    padding: 2rem;
    margin: auto;
    background-color: var(--color-neutro-claro);
    border-radius: var(--radio-tarjeta) 0 var(--radio-tarjeta) 0;
    overflow: hidden;
}

#info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 40%;
    gap: 1.5rem;
}

#info-container h2 {
    text-align: center;
}

#metodos-contacto-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.metodo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
    padding: var(--padding-general);
    border-bottom: 1px solid var(--color-neutro-oscuro);
}
.metodo-item a{
    text-decoration: none;
    /*color: var(--color-neutro-oscuro);*/
    font-family: var(--fuente-texto), sans-serif;
    font-size: var(--p-size);
    font-weight: var(--peso-semibold);
    color: black;

}

.metodo-item p{
    font-weight: var(--peso-semibold);

}
.metodo-item img {
    width: 32px;
    height: 32px;
    filter: brightness(0) saturate(100%) invert(46%) sepia(26%) saturate(457%) hue-rotate(88deg) brightness(92%) contrast(92%);
}

#mapa-container {
    width: 45%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

#mapa-container img {
    max-width: 100%;
    height: auto;
    transition: transform 1s ease;
}
#mapa-container img:hover {
    transform: scale(4.5);
}

/*formulario*/
.contacto-formulario {
    width: 90%;
    background-color: var(--color-neutro-claro);
    margin: var(--padding-grande) var(--padding-grande) 0 var(--padding-grande);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    padding: var(--padding-general);
    border-radius: var(--radio-tarjeta) 0 0 0;


}

#formulario-container {
    width: 100%;
    max-width: 50%;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

input, textarea {
    width: 100%;
    padding: var(--padding-general);
    /*border-radius: 8px;*/
    border: 1px solid var(--color-primario);
}
@media (max-width: 1190px) {
    .contacto-info{
        flex-direction: column-reverse;
        align-items: center;
    }
    #info-container{
        width: 90%;
    }
}
@media (max-width: 768px) {
    #mapa-container{
        display: none;
    }
    #formulario-container{
        max-width: 90%;
    }
}