.description {
    /*width: 90%;*/
    display: flex;
    min-height: 300px;
    padding: var(--padding-grande);
    align-items: stretch;
    justify-content: center;
    background-color: var(--color-neutro-claro);
    gap: 2rem;
    margin: var(--padding-grande) var(--padding-grande) 0 var(--padding-grande);
    border-radius: var(--radio-tarjeta) 0 var(--radio-tarjeta) 0;
    box-shadow: var(--sombra-suave);
}


.description div:nth-child(1) {
    width: 30%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 var(--radio-tarjeta) 0 var(--radio-tarjeta);
}

.description div:nth-child(1) img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.description div:nth-child(1) img:hover {
    transform: scale(1.2);
}

.description div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    flex: 1;
    width: 50%;
}

.description>div>p{
    text-align: center;
    letter-spacing: var(--espaciado-letras);
}

@media (max-width: 768px) {
    .description div:nth-child(1){
        display: none;
    }
    .description div:nth-child(2){
        gap: 1rem;
    }
}