.faqs {
    width: 100%;
    background-color: var(--color-neutro-claro);
    padding: var(--padding-grande);
    /*max-width: 800px;*/
    margin: 0 auto;
}

.faqs h2 {
    text-align: center;
    font-family: var(--fuente-titulos), sans-serif;
    /*margin-bottom: 2rem;*/
}
.faqs p{
    padding-top: 1rem;
}
.faq-item {
    padding: 2rem 0;
    border-bottom: 1px solid var(--color-primario);
}

.faq-pregunta {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-family: var(--fuente-titulos), sans-serif;
    font-size: var(--h3-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    color: var(--color-primario);
}

.faq-pregunta:hover {
    color: var(--color-secundario);
}

.faq-respuesta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    color: var(--color-neutro-oscuro);
    font-family: var(--fuente-texto), sans-serif;
}

.faq-respuesta.visible {
    max-height: 200px;
    padding-top: 0.5rem;
}
