footer{
    display: flex;
    flex-wrap: wrap;
    /*gap: 2rem;*/
    justify-content: center;
    width: 100%;
    padding: 1%;
    font-family: var(--fuente-texto), sans-serif;

    background-color: var(--color-primario);
    color: var(--color-neutro-claro);
    /*text-align: center;*/
    /*position: sticky;*/
    /*bottom: 0;*/
    /*z-index: 100;*/
}
footer #copyright{
    display: flex;
    gap: 1rem;
    text-align: center;
}
footer span{
    font-weight: var(--peso-regular);
    font-size: var(--p-size);
}
@media (max-width: 768px) {
    footer #copyright{
        /*flex-direction: column;*/
        flex-wrap: wrap;
        justify-content: center;
    }
}