header {
    width: 100%;
    background-color: var(--color-secundario);
}

.mini-banner {
    background-color: var(--color-primario);
    color: var(--color-neutro-claro);
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    position: relative;
}
#menu-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
#menu-button img {
    width: 40px;
    height: auto;
    cursor: pointer;
    border: none;

    transition: transform 0.3s ease;
}
#menu-button:hover img {
    transform: scale(1.1);
}

.logo img {
    width: 120px;
    height: auto;
}

.iconos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
}
.iconos img {
    width: 35px;
    height: 35px;
    transition: filter 0.3s ease;

}
.iconos a:hover img {
    filter: brightness(0) saturate(100%) invert(46%) sepia(26%) saturate(457%) hue-rotate(88deg) brightness(92%) contrast(92%);
}

/*desplegable*/
.objetos-menu {
    background-color: var(--color-primario);
    list-style: none;
    padding: 1.5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 150px;
    width: 200px;
    /*border-radius: 8px;*/
    box-shadow: var(--sombra-suave);
    transition: all 0.4s ease;
    z-index: 10;

    /*oculto*/
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    pointer-events: none;
}

.oculto {
    display: none;
}
.objetos-menu.visible {
    opacity: 1;
    max-height: 500px;
    pointer-events: all;
}
.objetos-menu {
    transform: translateY(-10px);
}
.objetos-menu.visible {
    transform: translateY(0);
}
.menu-item{
    padding: var(--padding-grande);
}
.menu-item a {
    color: var(--color-neutro-claro);
    text-decoration: none;
    font-family: var(--fuente-texto), sans-serif;
    font-size: var(--p-size);
    font-weight: var(--peso-regular);
}

.menu-item:hover {
    background-color: var(--color-secundario);
    width: 100%;
    /*border-radius: 4px;*/
    /*padding-left: 0.5rem;*/
}
.menu-item a:hover {
    color: var(--color-neutro-oscuro);
}


/*botones de usuario y carrito*/

.dialogo-flotante {
    margin: auto;

    border: none;
    padding: 0;
    /*border-radius: 10px;*/
    box-shadow: var(--sombra-suave);

    max-width: 400px;
    width: 90%;
}

.dialogo-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: var(--padding-grande);
    text-align: center;
}

/*.dialogo-contenido form {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    gap: 10px;*/
/*    margin-top: 20px;*/
/*}*/
.dialogo-contenido form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.dialogo-contenido input {
    padding: 10px;
    border: 1px solid #ccc;
    /*border-radius: 5px;*/
}

.dialogo-contenido button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    /*border-radius: 5px;*/
    cursor: pointer;
    font-weight: bold;
}


.dialogo-flotante::backdrop {
    background-color: var(--color-neutro-oscuro-trans);
}