.nosotras-section {
    padding: var(--padding-grande);
    text-align: center;
    background-color: var(--color-neutro-claro);

}

.nosotras-section h2 {
    font-size: 2.8em;
    /*color: var(--color-primario);*/
    /*margin-bottom: 25px;*/
    font-weight: bold;
    letter-spacing: var(--espaciado-letras);
    text-align: center;
    margin-bottom: var(--padding-general);
    border-radius: var(--radio-tarjeta) 0 var(--radio-tarjeta) 0;
    background-color: var(--color-primario);
    color: var(--color-neutro-claro);
    padding: 0 var(--padding-grande);
}
.nosotras-section p {
    line-height: var(--espaciado-lineas);
    font-size: var(--h3-size);
    letter-spacing: var(--espaciado-letras);
}

.nosotras-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin-top: 30px;
}


.historia-texto {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 0 var(--padding-grande);
    justify-content: space-evenly;
    /*letter-spacing: var(--espaciado-letras);*/
}



.historia-texto strong {
    color: var(--color-primario);
    font-weight: var(--peso-semibold);
}

.galeria-taller {
    width: 40%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /*grid-template-columns: repeat(2, 1fr);*/
    gap: 1rem;
    padding: var(--padding-general);
    background-color: var(--color-secundario);

    border-radius: var(--radio-tarjeta);
}

.galeria-taller img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: var(--radio-tarjeta);
    box-shadow: var(--sombra-suave);
    transition: transform 0.3s ease;
}

.galeria-taller img:hover {
    transform: scale(1.05);
}

.quote {
    font-style: italic;
    color: var(--color-neutro-oscuro);
    margin-top: 20px;
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .historia-texto {
        order: 1;
        width: 90%;
    }
    .galeria-taller {
        order: 2;
        margin-top: 0;
        width: 90%;

    }
}
@media (max-width: 1190px) {
    .nosotras-content {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
    .historia-texto {
        order: 1;
        width: 90%;
    }
    .galeria-taller {
        order: 2;
        margin-top: 0;
        width: 90%;
    }
}