#producto-section{
    display: flex;
    justify-content: center;
    padding: var(--padding-grande);
    background-color: var(--color-neutro-claro);
    width: 90%;
    margin: auto auto var(--padding-general) auto ;
    border-radius: var(--radio-tarjeta) 0 var(--radio-tarjeta) 0;


}
.producto-ficha{
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}
.producto-ficha div{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    gap: 1rem;

}
.producto-ficha img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 0 var(--radio-tarjeta) 0 var(--radio-tarjeta);
}

#productos-relacionados{
    display: flex;
    padding-top: var(--padding-grande);
    background-color: var(--color-neutro-claro);
    flex-direction: column;
}
#productos-relacionados h2{
    text-align: center;
}
#productos-relacionados div {
    width: 75%;
    margin: auto;
    display: flex;
    padding: var(--padding-grande);
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.relacionado-card{
    width: 200px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    background-color: white;
    /*border: 100px solid black;*/
    border-radius: var(--radio-tarjeta) 0 var(--radio-tarjeta) 0;

    /*box-shadow: var(--sombra-suave);*/
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.relacionado-card:hover{
    transform: translateY(-5px);

}

.relacionado-card img{
    width: 100%;
    object-fit: cover;
    height: 200px;
}
.relacionado-card p{
    text-overflow: ellipsis;
    overflow: hidden;
    /*white-space: nowrap;*/
    padding: var(--padding-grande);
    text-align: center;

}
.relacionado-card .boton-1{
    margin: 1rem auto 1.5rem;
    display: inline-block;
}
@media (max-width: 1190px) {
    .producto-ficha{
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }
    .producto-ficha div{
        width: 90%;
    }

}
@media (max-width: 768px) {
    .producto-ficha img{
        width: 300px;
    }
}